<% if !@owner.nil? %>
  <% list_name ||= @owner.class %>
  <% grouped ||= false %>
  <% modal ||= false %>
  <% is_pg_class = @owner.class.name == 'ProjectGood' %>
  <% btn_title = is_pg_class ? 'Добавить счет или КП' : 'Добавить файл' %>

  <div class="add_progress"> 
  <label for="attach_list" class="attach_list"> 
    <a class="btn_add">
      <span class="pict"><span class="icon icon_file"></span></span>
      <%= btn_title %>
    </a>
  </label>

  <div class="file_progress">
    <div class="progress">
      <div  class="progress-bar progress-bar-info progress-bar-striped" 
            role="progressbar" 
            aria-valuemin="0" 
            aria-valuenow="20" 
            aria-valuemax="100">
        <span class="sr-only"> </span>
      </div>
    </div>
  </div>
  </div>

  <input id = "attach_list<%= is_pg_class ? '_pg' : '' %>" 
        type = "file" 
        name = "files" 
        owner_cache = ""
        data-url = "/files" 
        owner_id = "<%= @owner.id %>" 
        owner_type = "<%= @owner.class %>" 
        multiple = "" 
        style = "display: none;">

 <%= render "files/files", list_name: list_name, grouped: grouped, modal: modal %>
<% end %>